{% extends 'switter/base.html' %}

{% block content %}

<div class="column">
    {% for followed in user.profile.follows.all %}
        {% for sweet in followed.user.sweets.drafts %}
            <div class="box">
                {{ sweet.body }}
                <span class="is-small has-text-grey-light">
                    ({{ sweet.created_at }} by {{ sweet.user.username }})
                </span>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="column is-one-third">
    <div class="block">
        <a href="{% url 'account:profiles' %} ">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>
    <div class="block">
        <a href="{% url 'account:profile-detail' request.user.username %} ">
            <button class="button is-success is-light is-outlined is-fullwidth">
                My Profile
            </button>
        </a>
    </div>

    <div class="block">
        <a href="{% url 'switter:drafts' %} ">
            <button class="button is-success is-light is-outlined is-fullwidth">
                My Drafts
            </button>
        </a>
    </div>

</div>


{% endblock content %}